button{
    width: 100px;
    height: 100px;
    border-radius: 25px;
    font-family: Arial;
    font-size: xx-large;
    font-weight: 700;
    border:none;
    cursor: crosshair;
    
}
#display{
    width: 100%;
    border: none;
    font-family: Arial;
    font-size: xx-large;
    font-weight: 700;
    background-color: rgb(223, 223, 223);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px;
    cursor: crosshair;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    padding: 25px;
}
#calculator{
    background-color: rgb(116, 116, 116);
    max-width: 500px;
    overflow: hidden;
    border-radius: 25px;
    cursor: crosshair;
    margin-top: 75px;
    
}
body{
    background-color: rgb(33, 18, 66);
    display: flex;
    justify-content: center;

}

.operator{
    background-color: rgb(216, 169, 115);
}
.operator:hover{
    background-color: rgb(184, 140, 91);
}
.operator:active{
    background-color:rgb(155, 117, 74);;
}

h1{
    border-radius: 25px;
    text-align: center;
    height: 35px;
    color: azure;
    position: absolute;
    background-color: rgb(57, 26, 128);
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    font-style: italic;

}